/* styles.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("1_wVTOx2rN7iWg8knAhpZDGQ.jpg");
    background-size: cover;
}

.container {
    background-color: rgb(150, 136, 136);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center; 
    height: 250px;
}

h1 {
    text-align: center;
}

.conversion-box {
    margin-top: 20px;
}

label {
    font-weight: bold;
}

input {
    width: calc(100% - 30px);
    padding: 5px;
    margin-top: 5px;
}

button {
    margin-top: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

p {
    margin-top: 10px;
    font-style: italic;
}
